<html>
  <head>
    <title>Are.na + Slack: Connect</title>
    <%= partial 'public/partials/_head.html' %>
    <%
      user_id, channel_id = CGI.unescape(request.params['state']).split(',') if request.params['state']
      user = User.where(id: user_id).first if user_id
    %>
  </head>
  <body style='text-align: center'>
    <p style='margin: 50px;'>
      <a href='/'><img src='img/icon.png' width='120px'></a>
    </p>
    <p>
      <h1>Are.na + Slack: Connect</h1>
    </p>
    <p id='messages' />
    <p id='connect'>
      <p>
        <div class='small'>
          Questions? Contact dblock[at]dblock[dot]org or DM <a href='https://twitter.com/playplayio'>@playplayio</a>.
        </div>
      </p>
      <script>
        $(document).ready(function() {
          var data = {
            code: <%= JSON.generate(ERB::Util.html_escape(request.params['code'])) %>,
            channel_id: "<%= channel_id %>"
          };

          var user = {
            id: '<%= user && user.id %>',
            name: <%= JSON.generate(ERB::Util.html_escape(user && user.user_name)) %>
          }

          if (user.id && data.code && data.channel_id) {
            SlackArena.message('Connecting <b>' + user.name + '</b> to Are.na. This will take a minute.');
            $.ajax({
              type: 'PUT',
              url: '/api/users/' + user.id,
              data: data,
              success: function(data) {
                SlackArena.message('Successfully connected <b>' + user.name + '</b> to Are.na. You can now return to Slack.');
              },
              error: SlackArena.error
            });
          } else {
            SlackArena.errorMessage('Missing or invalid parameters.');
          }
        });
      </script>
    </p>
  </body>
</html>
